<div class="container-fluid" *ngIf="isLoggedIn|async">
    <app-acoes-rapidas-dashboard></app-acoes-rapidas-dashboard>
</div>
<div class="container-fluid" id="homePage" *ngIf="!(isLoggedIn|async)">
    <div class="col-md-5">
            <h1 id="efeito">Organize seus postos. Faça viagens e use as rotas de maneira inteligente.</h1>
            <button type="button" class="btn btn-primary" (click)="navigateToLogin($event)">Entrar</button>
            <button type="button" class="btn btn-primary" (click)="navigateToRegister($event)">Cadastrar</button>
    </div>
    <div class="col-md-5">
            <img src="https://i.pinimg.com/originals/c4/9a/20/c49a207e0f89c9290d98fd43a87a8cb0.gif" id="gif">
    </div>

</div>
