#homePage{
    background-repeat: no-repeat;
    background-color:#f2f2f2;
    background-position: center;
    height : calc(100vh - 52px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

#homePage h1{
    color: #555;
}

#homePage #gif{
    /* height : calc(100vh - 64px); */
    width: 100%;
}