<h3>Redefinir senha</h3>
<form [formGroup]="form" role="form" (ngSubmit)="reset(form.value)" novalidate>
    <div class="form-group" [class.has-error]="email.invalid && email.touched">
        <label for="email">Email</label>
        <input [formControl]="email" required type="text" class="form-control" id="email" name="email">
        <div class="help-block">
            <ul class="list-unstyled">
                <li *ngIf="email.valid || email.pristine">Digite seu email</li>
                <li *ngIf="email.dirty && email.hasError('required')">é obrigatório o uso de email</li>
            </ul>
        </div>
    </div>
    <button type="submit" class="btn btn btn-primary">
        Enviar e-mail para redefinição de senha
    </button>
</form>
