<div class="col-md-3 affix sidebar-action">
	<div class="panel panel-default">
		<div class="panel-heading">
			Nova Viagem
		</div>
		<div class="panel-body">
			<div class="form-group">
				<label>Cidade de Origem</label>
                <input [(ngModel)]="novaViagem.origem"
                       [typeahead]="cidades"
                       class="form-control">
			</div>
			<div class="form-group">
				<label>Cidade de Destino</label>
                <input [(ngModel)]="novaViagem.destino"
                       [typeahead]="cidades"
                       class="form-control">
			</div>

			<button class="btn btn-success btn-block" (click)="tracarRota()">Projetar Rota</button>
		</div>
	</div>

</div>

<div id="map"></div>
