 .box-acao-rapida {
     background: #444;
     border-radius: 5px;
     color: white;
     cursor: pointer;
     font-weight: bolder;
     margin: 1em;
     padding: 1em;
     text-align: center;
 }