<nav class="navbar navbar-inverse navbar-fixed-top pmd-navbar pmd-z-depth">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a href="javascript:void(0);" class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary pull-left margin-r8 pmd-sidebar-toggle"><i class="material-icons">menu</i></a>
            <a class="navbar-brand" [routerLink]="['']">Caroneiros.com.br</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <!-- <li *ngIf="(isLoggedIn|async)" class="navbar-text">{{(currentUser()|async).email}}</li> -->
                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *ngIf="!(isLoggedIn|async)"><a
                        [routerLink]="['login']">Entrar</a></li>

            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<section id="pmd-main">
    <!-- Left sidebar -->
    <aside class="pmd-sidebar pmd-sidebar-open sidebar-custom sidebar-default pmd-sidebar-slide-push pmd-sidebar-left pmd-z-depth sidebar-hide-custom" role="navigation" style="position: absolute;">
        <ul class="nav pmd-sidebar-nav">
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a class="pmd-ripple-effect" [routerLink]="['']"><i class="material-icons media-left media-middle">home</i> <span class="media-body">Início</span></a></li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a class="pmd-ripple-effect" [routerLink]="['viagens']" *ngIf="(isLoggedIn|async)"><i class="material-icons media-left media-middle">message</i><span class="media-body">Chat</span></a></li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a class="pmd-ripple-effect" [routerLink]="['viagens']" *ngIf="(isLoggedIn|async)"><i class="material-icons media-left media-middle">directions_car</i><span class="media-body">Viagens</span></a></li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['configuracoes']" *ngIf="(isLoggedIn|async)"><i class="material-icons media-left media-middle">notifications</i><span class="media-body">Notificações</span></a></li>
        </ul>
        <hr />
        <ul class="nav pmd-sidebar-nav">
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['configuracoes']" *ngIf="(isLoggedIn|async)"><i class="material-icons media-left media-middle">settings</i><span class="media-body">Configurações</span></a></li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['configuracoes']" *ngIf="(isLoggedIn|async)"><i class="material-icons media-left media-middle">info</i><span class="media-body">Sobre</span></a></li>
            <li *ngIf="(isLoggedIn|async)"><a (click)="logout()" href="#"><i class="material-icons media-left media-middle">exit_to_app</i> <span class="media-body" >Sair</span></a></li>
        </ul>
    </aside>


    <!-- Content -->
    <div class="pmd-content" id="content">


        <router-outlet></router-outlet>


    </div>

    <div class="pmd-sidebar-overlay"></div>
</section>
