/* You can add global styles to this file, and also import other style files */

@@import "https://fonts.googleapis.com/icon?family=Material+Icons";

 .sidebar-action {
    z-index: 3;
    margin-top: 20px;
}

#map {
    height: calc(100vh - 52px);
    width: 100%;
    z-index: 1;
}

.alert {
    position: absolute;
    z-index: 2;
    top: 60px;
    right: 10px;
}
