/* You can add global styles to this file, and also import other style files */

 .sidebar-action {
    z-index: 3;
    margin-top: 20px;
}

#map {
    height: calc(100vh - 52px);
    width: 100%;
    z-index: 1;
}
