<h3>Cadastro</h3>
<form [formGroup]="form" role="form" (ngSubmit)="onSubmit(form.value)" novalidate>
    <div class="form-group" [class.has-error]="name.invalid && name.touched">
        <label for="name" class="control-label">Nome</label>
        <input [formControl]="name" required type="text" class="form-control" id="name" name="name">
        <div class="help-block">
            <ul class="list-unstyled">
                <li *ngIf="name.valid || name.pristine">Digite seu nome</li>
                <li *ngIf="name.dirty && name.hasError('required')">Um nome é obrigatório</li>
            </ul>
        </div>
    </div>
    <div class="form-group" [class.has-error]="email.invalid && email.touched">
        <label for="email" class="control-label">Email</label>
        <input [formControl]="email" required type="email" class="form-control" id="email" name="email">
        <div class="help-block">
            <ul class="list-unstyled">
                <li *ngIf="email.valid || email.pristine">Digite se email</li>
                <li *ngIf="email.dirty && email.hasError('required')">Um email é obrigatório</li>
                <li *ngIf="email.dirty && email.hasError('email')">Por favor, digite um email válido</li>
            </ul>
        </div>
    </div>
    <div class="form-group" [class.has-error]="password.invalid && password.touched">
        <label for="password">Senha</label>
        <input [formControl]="password" type="password" required class="form-control" id="password" name="password">
        <div class="help-block">
            <ul class="list-unstyled">
                <li *ngIf="password.dirty && password.valid || password.pristine">Digite sua senha</li>
                <li *ngIf="password.dirty && password.hasError('required')">Uma senha é obrigatório</li>
            </ul>
        </div>
    </div>
    <div class="form-group"
         [class.has-error]="(password2.invalid || form.hasError('mismatchedPasswords')) && password2.touched">
        <label for="password2">Repita sua senha</label>
        <input [formControl]="password2" type="password" required class="form-control" id="password2"
               name="password2">
        <div class="help-block">
            <ul class="list-unstyled">
                <li *ngIf="(password2.valid && !form.hasError('mismatchedPasswords')) || password2.pristine">Repita sua senha
                </li>
                <li *ngIf="password2.dirty && password2.hasError('required')">Uma senha é obrigatória</li>
                <li *ngIf="password2.dirty && password2.valid && form.hasError('mismatchedPasswords')">as senhas não conferem
                </li>
            </ul>
        </div>
    </div>
    <button type="submit" class="btn btn btn-primary">
        Cadastrar
    </button>
</form>
